﻿@import "normalize";
@import "skeleton";
@import "http://fonts.googleapis.com/css?family=Raleway:500,800";

$blue1: #F2F4F7;
$blue2: #5B6F8C;
$orange: #B17853;
$yellow: #B19E53;

// Global Styles
body {
	background-color: $blue1;
}

p {
	font-size: 2rem;
}

h1, h2, h3, h4 {
	text-align: center;
}

h3, h4, h5, h6 {
	color: #99A;
}

h4 {
	font-style: italic;
}

// Utilities

.section {
	padding: 3rem 1rem;
}

hr {
	border: none;
	margin: 0;
	width: 100%;
	background-position: center center;
	background-size: cover;
	padding-top: 30rem; // height of image
}

// Row Styles
#bottom-pane {
	position: fixed;
	bottom: 0;
	right: 0;
	width: auto;
	height: 10%;
	max-height: 8rem;
	padding: 1rem;
	background-color: $blue1;
	border-left: 2px solid $blue2;
	border-top: 2px solid $blue2;
	z-index: 99;
	border-top-left-radius: 2rem;

	img {
		border: none;
		position: inline-block;
		height: 100%;
		padding-left: 5px;
	}
}

.hero {
	text-align: center;
	padding: 3rem 0 3rem;

	.promo {
		font-size: 3.0rem;
		line-height: 1em;
		color: #666;
	}

	.faded-promo {
		font-size: 2rem;
		line-height: 1em;
		color: #999;
	}

	p {
		margin: 2rem 0;
	}

	.btns a{
		margin: 0.2em 1em;
	}
}

#mlh-trust-badge {
	display: block;
	position: absolute;
	right: 5%;
	width: 15%;
	min-width: 100px;
	max-width: 150px;

	a {
		display: block;
		width: 100%;

		img {
			display: block;
			width: 100%;
			-webkit-filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.7));
			filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
			-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
			filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
		}
	}
}

.brookings {
	background-image: url("../images/brookings.jpg");
}

.last-year {
	small {
		display: block;
		text-align: center;
	}
}

.coders {
	background-image: url("../images/coders.jpg");
}

.schedule-subtitle {
	margin-bottom: 0;
	font-style: italic;
	color: #446;
	line-height: 1em;
}

dl.events {
	padding: 0 0 0.5em 0.7em;

	dd {
		font-size: 1.4em;
		font-style: italic;
		color: #99A;
		margin-left: 0;

		&:not(:first-child) {
			margin-top: 0.5em;
		}
	}

	dt {
		font-size: 1.1em;
		color: #446;
		line-height: 1em;
	}

	&.friday {
		border-left: 0.5em solid $orange;

		strong {
			color: $orange;
		}
	}
	&.saturday {
		border-left: 0.5em solid $blue2;

		strong {
			color: $blue2;
		}
	}
	&.sunday {
		border-left: 0.5em solid $yellow;

		strong {
			color: $yellow;
		}
	}
}

.where {
	iframe {
		width: 100%;
		height: 40rem;
	}
}

.faq {
	@media (min-width: 550px) {
		h4 {
			font-size: 2.4rem;
			margin-bottom: 0.2rem;
		}
	}

	p {
		font-size: 1.6rem;
	}
}

.sponsor-logos {
	text-align: center;

	img {
		max-width: 100%;
		margin: 1rem;
	}

	.chancellor-sponsors img {
		height: 8rem;
	}

	.dean-sponsors img {
		height: 5rem;
	}

	.professor-sponsors img {
		height: 4rem;
		&.larger {
			height: 6rem;
			vertical-align: -1rem;
		}
	}

	.lecturer-sponsors img {
		height: 3rem;
	}
}

.tail {
	background-color: $blue2;
	padding: 1rem 1rem 10rem;

	p {
		font-size: 1.5rem;
		color: #A5B8D4;
	}

	a {
		color: inherit;
	}
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
